.bio-name {
    width: 824px;
    min-height: 803px;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 176px;
    left: 121px;
}