@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro-Regular.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Myriad Pro";
}

body {
    min-width: 100%;
    background-color: #dbd9e2;
    min-height: 100%;
}